header.main-header
  a.logo href="#"
    span.logo-mini
      b S
      | YS
    span.logo-lg
      b SYSTEM
      | ADMIN
  nav.navbar.navbar-static-top
    a.sidebar-toggle data-toggle="offcanvas" href="#" role="button"
      span.sr-only Toggle navigation
    .navbar-custom-menu
      ul.nav.navbar-nav
        li.dropdown.user.user-menu
          a.dropdown-toggle data-toggle="dropdown" href="#"
            span.hidden-xs Admin
          ul.dropdown-menu
            li.user-footer
              .pull-left
              .pull-right
                = link_to 'Sign out', destroy_admin_session_path, method: :delete, class: 'btn btn-default btn-flat'