aside.main-sidebar
  section.sidebar
    ul.sidebar-menu
      li.active.treeview
        a href="#"
          i.fa.fa-dashboard
          span Platform
          span.pull-right-container
            i.fa.fa-angle-left.pull-right
        ul.treeview-menu
          li class = active_class('posts')
            = link_to management_posts_path
              i.fa.fa-circle-o
              | Posts
          li class = active_class('channels')
            = link_to management_channels_path
              i.fa.fa-circle-o
              | Channels
          li class = active_class('socials')
            = link_to management_socials_path
              i.fa.fa-circle-o
              | Socials
          li class = active_class('seed_accounts')
            = link_to management_seed_accounts_path
              i.fa.fa-circle-o
              | Seed Accounts
          li class = active_class('comments')
            = link_to management_comments_path
              i.fa.fa-circle-o
              | Comment