= render partial: 'management/shared/header', locals: {titles: ['Channels', 'Edit Channel'], paths: [{name: 'Channels', url: management_channels_path}]}
section.content.channels
  .row
    .col-xs-12
      .box.box-success
        .box-header.with-border
          h3.box-title Edit Channel
        = simple_form_for @form, as: :channel_form, url: management_channel_path(@channel), method: :patch do |f|
          .box-body
            = f.input :name, label: 'Name'
            = f.input :key, label: 'Key'
            = f.input :url, label: 'Url'
            .video-box
              video#channel-player.video-js.vjs-default-skin.vjs-big-play-centered controls=''
          .box-footer
            = link_to 'Back', management_channels_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'