= render partial: 'management/shared/header', locals: {titles: ['Channels']}
section.content.channels
  .row
    .col-xs-12
      = link_to 'Add New Channel', new_management_channel_path, class: 'btn btn-success'
      .box
        .box-header
          h3.box-title = "All Channels (#{@channels.count})"
          .box-tools
            .input-group.input-group-sm style=("width: 150px;")
              input.form-control.pull-right name="table_search" placeholder="Search" type="text" /
              .input-group-btn
                button.btn.btn-default type="submit"
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            thead
              tr
                th Name
                th Key
                th Url
                th Alive
                th Actions
            tbody
              - @channels.each do |channel|
                tr.channel data={channel_id: channel.id, channel_url: channel.url} id="#{channel.id}"
                  td = channel.name
                  td = channel.key
                  td = channel.url
                  td.channel-alive
                  td.actions
                    - if can?(:update, channel)
                      = link_to edit_management_channel_path(channel) do
                        i.fa.fa-edit
                    - if can?(:destroy, channel)
                      = link_to management_channel_path(channel), data: {confirm: 'Are you sure?'}, method: :delete do
                        i.fa.fa-window-close
      .video-box
        video#channel-alive-player