= render partial: 'management/shared/header', locals: {titles: ['Channels', 'New Channel'], paths: [{name: 'Channels', url: management_channels_path}]}
section.content.channels
  .row
    .col-xs-12
      .box.box-success
        .box-header.with-border
          h3.box-title New Channel
        = simple_form_for @form, as: :channel_form, url: management_channels_path, method: :post do |f|
          .box-body
            = f.input :name, label: 'Name'
            = f.input :key, label: 'Key'
            = f.input :url, label: 'Url'
            .jsmpeg data-url="http://91.92.115.130/live/malek/malek1/2370.ts"
          .box-footer
            = link_to 'Back', management_channels_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'