- if flash[:notice]
  .alert.alert-success.alert-dismissible
    button.close aria-hidden="true" data-dismiss="alert" type="button"  &times;
    p = flash[:notice]
- if flash[:alert]
  .alert.alert-danger.alert-dismissible
    button.close aria-hidden="true" data-dismiss="alert" type="button"  &times;
    p = flash[:alert]
