- paths = paths || []
- titles = titles || []
section.content-header
  h1
    | Dashboard
    - titles.each do |title|
      small = " > #{title}"
  ol.breadcrumb
    li
      = link_to management_root_path
        i.fa.fa-dashboard
        | Home
    - paths.each do |path|
      li
        = link_to path[:name], path[:url]
    li = titles.last
  = render partial: 'management/shared/flash'