.channels {
  .box {
    .box-body {
      .channel {
        .channel-alive {
          .fa.fa-times-circle {
            color: #f71752;
          }
          .fa.fa-check-circle {
            color: #00a65a;
          }
        }
      }
    }
  }
  .video-box {
    #channel-player, #channel-alive-player {
      margin: auto;
    }
    #channel-alive-player {
      display: none;
    }
  }
}