section.content {
  .box {
    margin-top: 10px;
    .box-header {
    }
    .box-body {
      table {
        tr {
          td.actions {
            a {
              margin-right: 5px;
            }
          }
        }
      }
    }
    .box-footer {
      a.btn, button.btn {
        margin-right: 10px;
      }
    }
  }
}