section.content-header {
  .alert {
    padding: 5px;
    margin: 10px 0px 0px;
    opacity: 0.7;
  }
  .alert.alert-danger {

  }
  .alert.alert-dismissible {
    .close {
      top: 0px;
      right: 0px;
    }
  }
}