body {
  background: #eee !important;
}

.form-login {
  max-width: 380px;
  padding: 15px 35px 0px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  .form-login-heading {
    text-align: center;
    margin-bottom: 20px;
  }

  .checkbox {
    font-weight: normal;
    margin-bottom: 15px;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  a {
    padding: 15px;
    display: block;
    text-align: center;
  }
}