= render partial: 'management/shared/header', locals: {titles: ['Posts', 'All Channels'], paths: [{name: 'Posts', url: management_posts_path}, {name: 'All Channels', url: channels_management_post_path(@post)}]}
section.content
  .row
    .col-xs-12
      = link_to 'Link New Channel', channel_management_post_path(@post), class: 'btn btn-success'
      .box
        .box-header
          h3.box-title = "All Linked Channels (#{@post.channels.count})"
        .box-body.table-responsive.no-padding
          table.table.table-hover
            thead
              tr
                th Name
                th Url
                th Actions
            tbody
              - @post.channels.each do |channel|
                tr
                  td = channel.name
                  td = channel.url
                  td.actions
                    - if can?(:update, channel)
                      = link_to edit_management_channel_path(channel) do
                        i.fa.fa-edit
                    - if can?(:destroy_channel, channel)
                      = link_to channel_management_post_path(@post, channel_id: channel.id), data: {confirm: 'Are you sure?'}, method: :delete do
                        i.fa.fa-window-close