= render partial: 'management/shared/header', locals: {titles: ['Posts', 'Edit Post'], paths: [{name: 'Posts', url: management_posts_path}]}
section.content
  .row
    .col-xs-12
      = link_to 'Manage Channels', channels_management_post_path(@post), class: 'btn btn-success'
      .box.box-success
        .box-header.with-border
          h3.box-title Edit Post
        = simple_form_for @form, as: :post_form, url: management_post_path(@post), method: :patch do |f|
          .box-body
            = f.input :url, label: 'Post Url'
            = f.input :title, label: 'Title'
            = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
          .box-footer
            = link_to 'Back', management_posts_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'