= render partial: 'management/shared/header', locals: {titles: ['Posts']}
section.content.posts
  .row
    .col-xs-12
      = link_to 'Add New Post', new_management_post_path, class: 'btn btn-success'
      .box
        .box-header
          h3.box-title = "All Posts (#{@posts.count})"
          .box-tools
            .input-group.input-group-sm style=("width: 150px;")
              input.form-control.pull-right name="table_search" placeholder="Search" type="text" /
              .input-group-btn
                button.btn.btn-default type="submit"
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            thead
              tr
                th URL
                th TITLE
                th NAVIGABLE
                th Actions
            tbody
              - @posts.each do |post|
                tr
                  td = post.url
                  td = post.title
                  td = post.navigate ? 'Yes' : 'No'
                  td.actions
                    - if can?(:update, post)
                      = link_to edit_management_post_path(post) do
                        i.fa.fa-edit
                    - if can?(:destroy, post)
                      = link_to management_post_path(post), data: {confirm: 'Are you sure?'}, method: :delete do
                        i.fa.fa-window-close