= render partial: 'management/shared/header', locals: {titles: ['Posts', 'New Post'], paths: [{name: 'Posts', url: management_posts_path}]}
section.content
  .row
    .col-xs-12
      .box.box-success
        .box-header.with-border
          h3.box-title New Post
        = simple_form_for @form, as: :post_form, url: management_posts_path, method: :post do |f|
          .box-body
            = f.input :url, label: 'Post Url'
            = f.input :title, label: 'Title'
            = f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'Full' } }
          .box-footer
            = link_to 'Back', management_posts_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'