= render partial: 'management/shared/header', locals: {titles: ['Posts', 'Link New Channel'], paths: [{name: 'Posts', url: management_posts_path}, {name: 'All Channels', url: channels_management_post_path(@post)}]}
section.content
  .row
    .col-xs-12
      .box.box-success
        .box-header.with-border
          h3.box-title Link A Channel To Post
        = simple_form_for @form, as: :post_channel_form, url: channel_management_post_path(@post), method: :patch do |f|
          .box-body
            = f.input :channel_id, label: 'Channel', collection: @presenter.channels
          .box-footer
            = link_to 'Back', channels_management_post_path(@post), class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'