.row
  .col-xs-12
    .container-fluid.streams
      - if @post.blank?
        h2
          = 'Nothing is on the air'
      - else
        .row.post-box
          .col-md-7
            .post-player-box
              - unless @post[:post].blank?
                - if @post[:post].navigate
                  .video-box data={channels: @post[:channels].map(&:url).as_json}
                    video#video-player.video-js.vjs-default-skin.vjs-big-play-centered controls='' preload='auto'
                  .channel-list
                    - @post[:channels].each do |channel|
                      button.btn.btn-default data={url: channel.url}
                        = channel.name
                - else
                  .fb-post data-href="#{@post[:post].full_url}" data-show-text="true" data-width="auto"
                    blockquote.fb-xfbml-parse-ignore cite="#{@post[:post].full_url}"
                      p
                        = "#{@post[:post].description}"
                      | Posted by
                      a href="https://www.facebook.com/beonairtv/"  OnAir TV
                      | on&nbsp;
                      a href="#{@post[:post].full_url}"
          .col-md-5
            .post-comment-box
              .fb-comments data={href: @post[:post].full_url, numposts: '5', width: 'auto', order_by: 'social', mobile: true}