.row
  .col-xs-12
    .body
      - if @live_url.blank?
        h2
          = 'Content not found'
      - else
        .row
          .col-xs-6
            .post-box

          .col-xs-6
            .fb-comments data-href="https://www.facebook.com/beonairtv/videos/680497548796274/" data={numposts: 15, width: '100%'}


