= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: {class: 'form form-login'} do |f|
  h2.form-login-heading Please login
  = f.input :email, autofocus: true, label: false, placeholder: 'Email', require: true, input_html: {class: 'form-control'}
  = f.input :password, autocomplete: 'off', label: false, placeholder: 'Password', require: true, input_html: {class: 'form-control'}
  .checkbox
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  = f.submit 'Login', class: "button btn btn-lg btn-primary btn-block"
  = render "devise/shared/links"
