/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 0.6em 1em;
  background: #e0262c;
  border-radius: 4px;
  line-height: 1.8em;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  color: #FFF;
}

.button:before {
  display: inline-block;
  background: #8DCB89;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}