/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

.copyright {
  overflow: hidden;
  padding: 1.1em 0em 0em;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.copyright p {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

.copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}