/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

form {
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
}

form .submit {
  margin-top: 2em;
  background: #e0262c;
  border-radius: 8px;
  line-height: 1.5em;
  font-size: 1.3em;
}

form input.text,
form select,
form textarea {
  position: relative;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-radius: 0.50em;
  margin: 1em 0em;
  padding: 1.50em 1em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 2px 1px #E0E0E0;
  background: #fff;
}

form textarea {
  min-height: 12em;
}

form .formerize-placeholder {
  color: #555 !important;
}

form ::-webkit-input-placeholder {
  color: #555 !important;
}

form :-moz-placeholder {
  color: #555 !important;
}

form ::-moz-placeholder {
  color: #555 !important;
}

form :-ms-input-placeholder {
  color: #555 !important;
}

form ::-moz-focus-inner {
  border: 0;
}