.streams {
  min-height: 320px;
  padding: 1em 4em;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  .post-box {
    background-color: #f6f7f9;
    .post-player-box, .post-comment-box {
      width: 100%;
      position: relative;
    }
    .post-player-box {
      .video-box {
        width: 100%;
        height: 320px;
        #video-player {
          margin: auto;
          width: 100%;
        }
        .video-js {
          position: relative !important;
          width: 100% !important;
          height: 100% !important;
        }
        .vjs-poster {
          position: absolute !important;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
      .channel-list {
        padding: 10px 0px;
      }
    }
    .post-comment-box {
      background-color: #f6f7f9;
      min-height: 140px;
      max-height: 335px;
      overflow: auto;
    }
    .col-md-5, .col-md-7 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

@media (max-width: 991px) {
  .streams {
    .post-box {
      .post-comment-box {
        max-height: 400px;
      }
    }
  }
}