/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

.logo {
  padding: 1.5em 0em 0.5em;
  text-align: center;
}

.logo h1 {
  font-size: 3.5em;
}

.logo h1 a {
  color: #e0262c;
}

.logo a {
  text-decoration: none;
}

.logo span {
  letter-spacing: 0.10em;
  text-transform: uppercase;
  font-size: 0.90em;
  color: #3C3C3C;
}

.logo span a {
  color: #3C3C3C;
}

.logo .icon {
  display: inline-block;
  margin-bottom: 2em;
  padding: 1em;
  background: #e0262c;
  border-radius: 50%;
  font-size: 1.6em;
  color: #FFF;
}