/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

.menu {
  margin: 10px;
}

.menu ul {
  text-align: center;
}

.menu li {
  display: inline-block;
}

.menu li a, .menu li span {
  display: inline-block;
  margin-left: 0.50em;
  padding: 1em 1.5em;
  letter-spacing: 0.20em;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #3C3C3C;
}

.menu li:hover a, .menu li.active a, .menu li.active span {
}

.menu .current_page_item a {
  border: 1px solid #3C3C3C;
  border-radius: 4px;
}