= render partial: 'management/shared/header', locals: {titles: ['Seed Accounts']}
section.content.seed-accounts
  .row
    .col-xs-12
      = link_to 'Add New Seed Account', new_management_seed_account_path, class: 'btn btn-success'
      = link_to 'Reset All Like', reset_like_management_seed_accounts_path, method: :patch, class: 'btn btn-primary', style: 'margin-left: 15px;'
      = link_to 'Reset All Share', reset_share_management_seed_accounts_path, method: :patch, class: 'btn btn-primary', style: 'margin-left: 15px;'
      = link_to 'Reset All Comment', reset_comment_management_seed_accounts_path, method: :patch, class: 'btn btn-primary', style: 'margin-left: 15px;'
      .box
        .box-header
          h3.box-title = "All Accounts (#{@seed_accounts.count})"
          .box-tools
            .input-group.input-group-sm style=("width: 150px;")
              input.form-control.pull-right name="table_search" placeholder="Search" type="text" /
              .input-group-btn
                button.btn.btn-default type="submit"
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            thead
              tr
                th Email
                th Password
                th Like Status
                th Share Status
                th Comment Status
                th Actions
            tbody
              - @seed_accounts.each do |acc|
                tr.seed-account
                  td = acc.email
                  td = acc.password
                  td = acc.display_like_status
                  td = acc.display_share_status
                  td = acc.display_comment_status
                  td.actions
                    - if can?(:update, acc)
                      = link_to edit_management_seed_account_path(acc) do
                        i.fa.fa-edit
                    - if can?(:destroy, acc)
                      = link_to management_seed_account_path(acc), data: {confirm: 'Are you sure?'}, method: :delete do
                        i.fa.fa-window-close
  .row
    .col-xs-12.text-center
      = paginate @seed_accounts