= render partial: 'management/shared/header', locals: {titles: ['Seed Accounts', 'New Seed Account'], paths: [{name: 'Seed Accounts', url: management_seed_accounts_path}]}
section.content.seed_accounts
  .row
    .col-xs-12
      .box.box-success
        .box-header.with-border
          h3.box-title New Seed Account
        = simple_form_for @form, as: :seed_account_form, url: management_seed_accounts_path, method: :post do |f|
          .box-body
            = f.input :email, label: 'Email'
            = f.input :password, as: :string, label: 'Password'
            = f.input :like_status, label: 'Like Status', collection: @presenter.like_statuses, include_blank: false
            = f.input :share_status, label: 'Share Status', collection: @presenter.share_statuses, include_blank: false
            = f.input :comment_status, label: 'Comment Status', collection: @presenter.comment_statuses, include_blank: false
          .box-footer
            = link_to 'Back', management_seed_accounts_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'