= render partial: 'management/shared/header', locals: {titles: ['Comments', 'Edit Comment'], paths: [{name: 'Comments', url: management_comments_path}]}
section.content.comments
  .row
    .col-xs-12
      .box.box-success
        .box-header.with-border
          h3.box-title Edit Comment
        = simple_form_for @form, as: :comment_form, url: management_comment_path(@comment), method: :patch do |f|
          .box-body
            = f.input :content, as: :text, label: 'Content'
            = f.input :category, label: 'Category', collection: @presenter.categories, include_blank: false
          .box-footer
            = link_to 'Back', management_comments_path, class: 'btn btn-default'
            = f.submit 'Save', class: 'btn btn-success'