= render partial: 'management/shared/header', locals: {titles: ['Comments']}
section.content.comments
  .row
    .col-xs-12
      = link_to 'Add New Comment', new_management_comment_path, class: 'btn btn-success'
      .box
        .box-header
          h3.box-title = "All Comments (#{@comments.count})"
          .box-tools
            .input-group.input-group-sm style=("width: 150px;")
              input.form-control.pull-right name="table_search" placeholder="Search" type="text" /
              .input-group-btn
                button.btn.btn-default type="submit"
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            thead
              tr
                th Id
                th Content
                th Category
                th Actions
            tbody
              - @comments.each do |c|
                tr.seed-account
                  td = c.id
                  td = c.content
                  td = c.display_category
                  td.actions
                    - if can?(:update, c)
                      = link_to edit_management_comment_path(c) do
                        i.fa.fa-edit
                    - if can?(:destroy, c)
                      = link_to management_comment_path(c), data: {confirm: 'Are you sure?'}, method: :delete do
                        i.fa.fa-window-close
  .row
    .col-xs-12.text-center
      = paginate @comments