doctype html
html
  head
    meta charset="utf-8"
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title OnAir TV Management System
    link rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round" media="all"
    = favicon_link_tag 'favicons/fav.ico'
    = stylesheet_link_tag 'management/application', media: 'all'
    = javascript_include_tag 'management/application'
    = yield :javascripts
    = csrf_meta_tags
  body
    = yield
