doctype html
html
  head
    meta charset="utf-8"
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="On Air TV | A high quality live streaming channel. Movies, clips, songs, shows, matches and everything you woyld love to watch on the fly."
    meta name="keywords" content="On Air TV | Live Streaming | Movies | Clips | Premier League | La Liga"
    meta property="fb:app_id" content="#{ENV['FACEBOOK_APP_ID']}"
    title OnAir TV
    link rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round" media="all"
    = favicon_link_tag 'favicons/fav.ico'
    = stylesheet_link_tag 'live/application', media: 'all'
    = javascript_include_tag 'live/application'
    = yield :javascripts
    = csrf_meta_tags
  body
    #fb-root
    .wrapper.container-fluid
      .row
        .col-xs-12
          .logo
            = image_tag('logo.png', width: 80)
            h1
              a href="#" #OnAir
          /.row
          /  .col-xs-12
          /    .menu
          /      ul
          /        li.current_page_item
          /          a href="#" title="Homepage" Homepage
          /        li
          /          a href="#" title="About Us" About Us
          /        li
          /          a href="#" title="Contact Us" Contact Us
          = yield

    .copyright.container
      p
        | Copyright &copy; ON AIR TV 2016