doctype html
html
  head
    meta charset="utf-8"
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta name="viewport" content="width=device-width, initial-scale=1"
    title OnAir TV Management System
    = favicon_link_tag 'favicons/fav.ico'
    = stylesheet_link_tag 'management/application', media: 'all'
    = javascript_include_tag 'management/application'
    = yield :javascripts
    = csrf_meta_tags
  body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      = render partial: 'layouts/management/header'
      = render partial: 'layouts/management/sidebar'
      .content-wrapper
        = yield
      = render partial: 'layouts/management/footer'