doctype html
html
  head
    meta charset="utf-8"
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
    meta name="viewport" content="width=device-width, initial-scale=1"
    meta name="description" content="On Air TV | A high quality live streaming channel. Movies, clips, songs, shows, matches and everything you woyld love to watch on the fly."
    meta name="keywords" content="On Air TV | Live Streaming | Movies | Clips | Premier League | La Liga"
    meta property="fb:app_id" content="#{ENV['FACEBOOK_APP_ID']}"
    title Seed OnAir TV
    link rel="stylesheet" href="//fonts.googleapis.com/css?family=Varela+Round" media="all"
    = favicon_link_tag 'favicons/fav.ico'
    = stylesheet_link_tag 'seed/application', media: 'all'
    = javascript_include_tag 'seed/application'
    = yield :javascripts
    = csrf_meta_tags
  body
    .copyright.container
      p
        | Copyright &copy; ON AIR TV 2016