= render partial: 'management/shared/header', locals: {titles: ['Socials']}
section.content.socials
  .row
    .col-xs-12
      = link_to 'Get A New Token', '#', class: 'btn btn-success btn-renew'
      .box
        .box-header
          h3.box-title = "Facebook Token Status"
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                td.col-sm-2 Status
                td.col-sm-10.status
                  = @status || '...'
              tr
                td Access Token
                td.access-token
                  = @access_token || '...'
              tr
                td Expires At
                td.expires-at
                  = @expires_at || '...'
              tr
                td User ID
                td.user-id
                  = @user_id || '...'
      = link_to 'Apply', apply_management_socials_path(format: 'js', access_token: @access_token), method: :put, remote: true, class: 'btn btn-primary btn-apply'